<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div><h2>User Name</h2>
        <%= @user.email %>
      </div>
      <div>
        <h3>My Places</h3>
        <% @places.each do |place| %>
        <%= place.name %>
        <% end %>
      </div>
      <div>
        <h3>Reservations for my places</h3>
        <ul>
          <% @reservations_for_me.each do |res| %>
           <li>
              <%= res.user.email %> requested <%= res.place.name %>.
              <% if res.status == "pending" %>
                <%= link_to "Accept", reservation_accept_path(res.id), method: :patch %> | <%= link_to "Decline", reservation_decline_path(res.id), method: :patch %>
              <% else %>
                <%= res.status %>
              <% end %>
           </li>
          <% end %>
        </ul>
      </div>
      <div>
        <h3>Reservations I made</h3>
        <ul>
          <% @reservations_i_made.each do |res| %>
            <li>
              <%= res.place.name %>. <%= res.status %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
