<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 <%= "col-sm-offset-3" unless current_user == @user %>">
      <div class="user-info">
        <% user_avatar_url = @user.facebook_picture_url || @user.photo %>

        <%= image_tag user_avatar_url, crop: :fill, class: "avatar-large" %>
        <h2><%= @user.first_name %></h2>
        <i class="fa fa-star active-star"></i><i class="fa fa-star active-star"></i><i class="fa fa-star active-star"></i><i class="fa fa-star active-star"></i><i class="fa fa-star inactive-star"></i>
      </div>
      <div class="user-details">
        <h2>Bio</h2>
        <p>Some random bio about me and how I am so great and amazing.</p>
        <h2>Email</h2>
        <p><%= @user.email %></p>

        <div>
          <h2>Places</h2>
          <div class="row">
            <% @places.each do |place| %>
            <div class="col-xs-6 col-sm-12 col-md-6">
              <div class="card text-center">


                <div class="card-header" style="background-image: url('<%= cl_image_path place.photo, height: 300, width: 400, crop: :fill %>')">
                </div>


                <div class="card-description">
                  <h3><%= place.name %></h3>
                </div>
                <%= link_to "", place_path(place), class: "card-link" %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <h2>Reviews</h2>
        <i class="fa fa-star active-star"></i><i class="fa fa-star active-star"></i><i class="fa fa-star active-star"></i><i class="fa fa-star active-star"></i><i class="fa fa-star inactive-star"></i>
        <p>Some great review blabla bla</p>
        <i class="fa fa-star active-star"></i><i class="fa fa-star active-star"></i><i class="fa fa-star active-star"></i><i class="fa fa-star active-star"></i><i class="fa fa-star inactive-star"></i>
        <p>Some great review blabla bla</p>
        <i class="fa fa-star active-star"></i><i class="fa fa-star active-star"></i><i class="fa fa-star active-star"></i><i class="fa fa-star active-star"></i><i class="fa fa-star inactive-star"></i>
        <p>Some great review blabla bla</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <% if current_user == @user %>
      <div class="dashboard">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#guests" data-toggle="tab">My guests</a>
          </li>
          <li role="presentation"><a href="#bookings"  data-toggle="tab">My bookings</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="guests">
            <table class="table">
              <tr>
                <th>Guest</th>
                <th>Place</th>
                <th>Status</th>
              </tr>
              <% @reservations_for_me.each do |res| %>
              <tr>
                <td>
                  <%= link_to res.user.first_name, user_path(res.user) %>
                </td>
                <td>
                 <%= link_to res.place.name, place_path(res.place) %>
               </td>
               <td>
                <% if res.status == "pending" %>
                <%= link_to "Accept", reservation_accept_path(res.id), method: :patch, class: "btn btn-success btn-xs" %> <%= link_to "Decline", reservation_decline_path(res.id), method: :patch, class: "btn btn-danger btn-xs" %>
                <% elsif res.status == "accepted" %>
                <i class="fa fa-check"></i> Accepted
                <% elsif res.status == "declined" %>
                <i class="fa fa-times"></i> Declined
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="bookings">
          <table class="table">
            <tr>
              <th>Place</th>
              <th>Host</th>
              <th>Status</th>
            </tr>
            <% @reservations_i_made.each do |res| %>
            <tr>
              <td>
                <%= link_to res.place.name, place_path(res.place) %>
              </td>
              <td>
                <%= link_to res.place.user.first_name, user_path(res.place.user) %>
              </td>
              <td>
                <% if res.status == "accepted" %>
                <i class="fa fa-check"></i> Accepted
                <% elsif res.status == "declined" %>
                <i class="fa fa-times"></i> Declined
                <% else %>
                <i class="fa fa-question"></i> Pending
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>


    </div>

    <% end %>
  </div>
</div>
</div>
