<div class="container">
<div class="row">
<div class="col-sm-offset-4 col-sm-4">
<%= simple_form_for(@place) do |f| %>
<%= f.error_notification %>
 <%= f.input :name %>
 <%= f.input :description %>
 <%= f.input :address %>
 <%= f.input :price %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
 <%= f.submit %>
<% end %>
</div>
</div>
</div>

