 <div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-0 col-lg-4 col-lg-offset-0">
     <div class="media">
      <div class="media-body">
        <div class="media-section">
          <h1><%= @place.name %></h1>
        </div>
        <div class="media-section">
          <h2>Description</h2>
          <%= @place.description %>
        </div>
        <div class="media-section">
          <h2>Address</h2>
          <%= @place.address %>
        </div>
        <div class="media-section">
         <h2>Price </h2>
         <%= @place.price %>
       </div>
        <div class="media-section">
         <h2>User</h2>
         <%= link_to @place.user.email, user_path(@place.user) %>
       </div>
       <div class="media-section">
        <%= link_to "Reserve", place_reservations_path(@place), method: :post, class: "btn-treehouse"
        %>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="padded text-center" >
  <%= link_to "Back to homepage", places_path, class: "btn-medium" %>
</div>
