 <div class="place-photo-wrapper" style= "background-image: url('<%= cl_image_path @place.photo, width: 1500, height: 400, crop: :fill %>')">
 <div class="banner-content">
  <h1><%= @place.name %></h1>
  <div>
  <% if user_signed_in? %>
    <%= link_to "Book", place_reservations_path(@place), method: :post, class: "btn btn-transparent btn-lg" %>
  <% else %>
    <%= link_to "Book", new_user_session_path, class: "btn btn-transparent btn-lg" %>
  <% end %>

  </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
     <div class="media">
      <div class="media-body">
        <div class="media-section">
          <h2>Description</h2>
          <%= @place.description %>
        </div>
        <div class="media-section">
          <h2>Address</h2>
          <%= @place.address %>
        </div>
        <div class="media-section">
         <h2>Price </h2>
         <%= @place.price %>
       </div>
       <div class="media-section">
         <h2>User</h2>
         <%= link_to @place.user.first_name, user_path(@place.user) %>
       </div>
     </div>
   </div>
 </div>
 <div class="col-xs-12 col-md-8">
   <div style="background-image: url('<%= image_path 'space_map.jpg' %>')" class="space-map">
     <i class="fa fa-map-marker"></i>
   </div>
 </div>
</div>
</div>
<div class="padded text-center" >
  <%= link_to "Back to homepage", places_path, class: "btn-medium" %>
</div>
