 <div class="place-photo-wrapper" style= "background-image:linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @place.photo, width: 1500, height: 400, crop: :fill %>')">
   <div class="banner-content">
    <h1><%= @place.name %></h1>
    <p>
      <% @place.rating.times do %>
      <i class="fa fa-star active-star"></i>
      <% end %>
      <% (5 - @place.rating).times do %>
      <i class="fa fa-star inactive-star"></i>
      <% end %>
    </p>
    <div>
      <% if user_signed_in? %>
      <%= link_to "Book", place_reservations_path(@place), method: :post, class: "btn btn-transparent btn-lg" %>
      <% else %>
      <%= link_to "Book", new_user_session_path, class: "btn btn-transparent btn-lg" %>
      <% end %>

    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h3>User</h3>
      <%= link_to @place.user.first_name, user_path(@place.user) %>

      <h3>Description</h3>
      <%= @place.description %>

      <h3>Features</h3>
      <div class="row">
        <div class="col-xs-6">
          <ul class="fa-ul">
            <li <%= "class=unsupported" if @place.UV == false %>>
            <i class="fa-li fa fa-sun-o"></i>UV
            </li>
            <li <%= "class=unsupported" if @place.startlight == false %>>
              <i class="fa-li fa fa-star-o"></i><span> Shooting stars</span>
            </li>
            <li <%= "class=unsupported" if @place.satellite == false %>>
              <i class="fa-li fa fa-globe"></i>Satellite</span>
            </li>
            <li <%= "class=unsupported" if @place.wifi == false %>>
              <i class="fa-li fa fa-wifi"></i>Wifi</span>
            </li>
            <li <%= "class=unsupported" if @place.earth_mailing == false %>>
              <i class="fa-li fa fa-envelope-o"></i>Earth mailing</span>
            </li>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul class="fa-ul">
            <li <%= "class=unsupported" if @place.astronaut_outfit == false %>>
              <i class="fa-li fa fa-user-circle-o"></i>Astronaut outfit</span>
            </li>
            <li <%= "class=unsupported" if @place.crater == false %>>
              <i class="fa-li fa fa-circle"></i>Craters</span>
            </li>
            <li <%= "class=unsupported" if @place.freezing == false %>>
              <i class="fa-li fa fa-thermometer-empty"></i>Deep freezing</span>
            </li>
            <li <%= "class=unsupported" if @place.alien == false %>>
              <i class="fa-li fa fa-reddit-alien"></i>Alien</span>
            </li>
            <li <%= "class=unsupported" if @place.detox == false %>>
              <i class="fa-li fa fa-smile-o"></i>Detox</span>
            </li>
          </ul>
        </div>
      </div>


      <h3>Address</h3>
      <%= @place.address %>


      <h3>Price </h3>
      <%= @place.price %> $
    </div>

    <div class="col-xs-12 col-md-4">
     <h3>Galaxy location</h3>
     <div style="background-image: url('<%= image_path 'space_map.jpg' %>')" class="space-map">
       <i class="fa fa-map-marker"></i>
     </div>

     <h2>Reviews: </h2>
     <% @place.reviews.each do |review| %>
     <% review.rating.times do %>
     <i class="fa fa-star active-star"></i>
     <% end %>
     <% (5 - review.rating).times do %>
     <i class="fa fa-star inactive-star"></i>
     <% end %>
     <p><%= review.content %></p>
     <% end %>

     <% if current_user.reservations.any? { |reservation| reservation.place == @place && reservation.status == "accepted" } %>
     <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h2>Add your review</h2>
        <%= simple_form_for([@place, @review]) do |f| %>
        <%= f.error_notification %>
        <%= f.input :rating, collection: Review::RATING, as: :radio_buttons, item_wrapper_class: 'radio-inline' %>
        <%= f.input :content, as: :text, input_html: {rows: 5, cols: 10} %>
        <%= f.submit  %>
        <% end %>
      </div>
    </div>

    <% end %>


  </div>
</div>


<div class="padded text-center" >
  <%= link_to "Back to homepage", places_path, class: "btn-medium" %>
</div>

</div>




