<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @place.name %></h1>
        <%= @place.description %>
        <%= @place.address%>
        <%= @place.price%>
        <%= link_to "Reserve", place_reservations_path(@place), method: :post, class: "btn btn-primary" %>
    </div>
  </div>
</div>




<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child">
        <h1><%= @place.name %></h1>        </article>
        <article class="tile is-child">
        <%= @place.description %>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child">
        <%= @place.address%>

        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child">
      <%= @place.price%>

      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child">
      <!-- Any content you want here -->
    </article>
  </div>
</div>
